    .fixed-header {
        top: 0;
    }
    .fixed-footer {
        bottom: 0;
    }

    .fixed-header, .fixed-footer{        
    width: 100%;
    position: fixed;        
    background: #E4B506;
    padding: 10px 0;
    color: #fff;
    clear: left;
    text-align: center;
    margin: -10px;
    
}

.container{
    width: 80%;
    margin: 0 auto; 
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}


p{
    color: white;
    text-align: center;
}

.home-text{
    height: 150px;
    width: 550px;
    font-size: 19px;
    color: #FFF;
    text-align: center;
    padding: 0px 312px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    

body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url('https://s17.postimg.org/5u0f64pi7/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    text-align:center;
    color: white;
}


.center-form {
    text-align: center;
    color: black;
    font-style: bold;
}

.title {
    text-align:center;
    color:#AD7607;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding-top: -150px;
    border-top: -50px;
}


form {
    background-color: #eee;
    padding: 20px;
    margin: 0 auto;
    width: 540px;
    font: 16px sans-serif;
    border-radius: 10px;
}
textarea {
    margin: 10px 0;
    width: 540px;
    height: 120px;
}
.color{
    color:white;
}
href{
    color:white;
}

.moor {
    border-radius: 100%;
    height: 350px;    
}

.navbar-header {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 16px;
}

#menu, #menu ul {
    margin:0 auto;
    padding:0;
    float: right;
}
#menu {
    display: inline-block;
    min-width: 600px;
    list-style:none;
    text-align: center;

}
#menu li {
    float: left;
    position: relative;
    list-style: none;
    color:#AD7607;
    
}
#menu > li:hover > ul {
    display: block;
}
#menu > li > ul {
    display: none;
    position: absolute;
}
#menu li a {
    display:block;
    padding:12px 12px;
    text-decoration:none;
    font-weight:bold;
    white-space: nowrap;
    margin: -8px;
}
#menu li a:hover {
    color:#FFFFFF;
}