<!DOCTYPE html>
<html lang="en">
    <title>Moorish Code</title>    
  <head>
    <meta charset="utf-8">
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
      <!-- <div class="container">           -->
    <div class="navbar-header" role="navigation">
        <!-- <div> -->
          <a href="/">Moorish Code Web Encrypter</a>
        <!-- </div> -->
      <!-- </div> -->
    </div>
      {% block container %}{% endblock %}
  </body>
</html>