{% extends 'base.html' %}

{% block container %}    

<h3 class="home-text">Welcome to Encrypter #1! Here you can enter a secret message with any real number. Make sure you write down your secret key. Enjoy and remember, your secret is safe with us. </h3>
    <div class="container">
        <h3 class="error">
            {% if error %}
            {{ error }}
            {% endif %}
        </h3>
        <div class="center-form">
        <form action="/encrypted" method="post">
            Secret number: 
            <input type="text" name="rot" value="">
                <br>
                <textarea type"text" name="text" class="textarea"></textarea>    
                <input type="submit" value="Encrypt message">
            </form>
        </div>
        </div>
                
{% endblock %}