{% extends 'base.html' %}

{% block container %}
    <h1>Moorish Code - Web Encryption</h1>
   
    <div class="container">
        <h1>Welcome to Moorish Code</h1>            
        <h2>{{encryption}}</h2>
        <h3>
            {% if error %}
            {{ error }}
            {% endif %}
        </h3>
        <form action="/encrypted" method="post">
            Secret key: 
            <input type="text" name="rot" value="">
                <br>
                <textarea type"text" name="text"></textarea>    
                <input type="submit" value="encrypt phrase">
            </form>
            </div>
                
{% endblock %}